*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.startPageContainer{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

/* nav styles */
header{
  background-color:aquamarine;
}

.nav-tabs{
  display:grid;
  grid-template-columns: 2fr 3fr;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.nav-title{
  grid-row:1;
  margin-left:2rem
}
nav{
  grid-row:1;
  margin-right:2em;
}

.nav-links-group{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  transform: translate(0, 50%);
}

.nav-link{
  margin:auto 1em auto 1em;
}

.nav-link a{
  color:black;
  font-size:1.2rem;
  text-transform: uppercase;
}

.nav-link:hover{
  border-bottom: solid 2px black;
}

.nav-link-active{
  border-bottom: solid 2px black;
}

/* reset default styles */
li{
  margin:0;
  padding:0;
  list-style-type: none;
}

a{
  text-decoration: none;
}

/* media queries */
@media screen and (max-width: 800px) {
  .nav-tabs{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
  }
  nav{
    margin-right: 0;
    transform: translate(0, -50%);
  }
}