*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root{
  --primary:#b8a9c9;
  --secondary:#622569;
  --tertiary: #5b9aa0;
  --light:#d6d4e0;
  --shadow:rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height:100%;
  margin:0;
  padding:0;
  background-color: var(--secondary);
  color:var(--tertiary);
}

main {
	margin: 0 auto;
	max-width: 100%;
  padding: 50px 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.startPageContainer{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  transform: translate(0, 150%);
}

/* starting page btn animation */
@keyframes borderAnimation {
  0% {
    border: solid 3px var(--primary);
  }

  50%{
    border: solid 3px var(--tertiary);
  }

  100% {
    border:solid 3px var(--light);
  }
}

.startPageBtn{
  animation-name: borderAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction:alternate;
}


/* btn styles */
.btn{
  background-color: var(--light);
  width:8em;
  height:auto;
  padding:10px;
  color:var(--tertiary);
  font-weight:500;
  border: 2px solid var(--tertiary);
  border-radius:1.5rem;
  margin:auto;
  display: block;
  cursor:pointer;
}

/* nav styles */

/* @keyframes header-appear {
  0% {
    width:0;
  }
  
  50% {
    width: 50%;
  }
  
  100% {
    width:100%;
  }

} */

header{
  background-color:var(--primary);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* animation: header-appear ease 1s;
  animation-timing-function: linear; */
}

.nav-tabs{
  display:grid;
  grid-template-columns: 2fr 3fr;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.nav-title{
  grid-row:1;
  margin-left:2rem
}
nav{
  grid-row:1;
  margin-right:2em;
}

.nav-links-group{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  transform: translate(0, 50%);
}

.nav-link{
  margin:auto 1em auto 1em;
  transition: all ease 0.2s;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  padding:2px 4px;
  border-radius:5px;
  
}

.nav-link a{
  color:var(--tertiary);
  text-shadow:black;
  font-size:1.3rem;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-link:hover{
  /* border-bottom: solid 2px black; */
  transform: translateY(5px);
}

.nav-link:active{
  transform: translateY(5px);
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
  border-radius:20px;
  padding:0.5px 6px;
}

.nav-link-active{
  /* border-bottom: solid 2px black; */
  transform: translateY(5px);
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(0,0,0,0.3);
  padding:0.5px 6px;
  border-radius:10px;
}

/* about page style */

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }

}


.about-container{
  color:var(--light);
  background-color:var(--secondary);
  margin-top:2rem;
  line-height: 1.5;
  text-align: center;
  border-bottom:solid 5px var(--primary);
  padding-bottom:5px;
  padding-left:10%;
  padding-right:10%;
  animation: appear ease-in 0.5s
}

.about-text{
  animation: appear ease-in 1s;
}

/* for test atm */
.about-container-disappear{
  animation: appear ease-in 0.5s;
  animation-direction: reverse;
}
/* for test atm */

.icon-container{
  display:flex;
  margin-top:2rem;
  gap:10%;
  justify-content: center;
  flex-wrap:wrap;
}

.icon-link{
  display:flex;
  align-items: center;
  text-decoration: none;
}

.icon-link span{
  color:var(--tertiary);
  font-weight: 500;
}

/* form style */
.form-container{
  background-color: var(--primary);
  padding:2rem;
  width:50%;
  margin:auto;
  border-radius:10px;
  box-shadow: var(--shadow)
}

.form-title{
  font-size:2.5rem;
}

.form div{
  margin-bottom:2rem;
  font-weight: 700;
  font-size:1.5rem;
}

/* Resume style */
.resume-container{
  border:solid 2px var(--tertiary);
  background-color: var(--primary);
  border-radius:10px;
  box-shadow: var(--shadow);
  padding:1rem 2rem 1rem 2rem;
  color:var(--secondary);
  width:40%;
  margin:auto 10% auto 10%;
}

.resume-download{
  background-color: var(--primary);
  color: var(--secondary);
  padding-top:1%;
  padding-bottom:1%;
  font-size:larger;
  width:30%;
  text-align:center;
  margin-left:10%;
  margin-top:2%;
  box-shadow: var(--shadow);
  border-radius:10px;
}

/* project style */
.project-container{
  background-color: var(--primary);
  border-radius: 2rem;
  box-shadow: var(--shadow);
  padding:10px;
}

.photo-group{
  display:flex;
  flex-wrap:wrap;
  gap:5rem;
  justify-content: center;
}


@keyframes projects-appear {
  0% {
    transform: translate(-100%, 100%) scale(0.5);
  }
  100% {
    transform: unset;
  }
}

@keyframes projects-appear-left {
  0% {
    transform: translate(100%, 100%) scale(0.5);
  }
  100% {
    transform: unset;
  }
}

.photo{
  margin:0;
  padding:0;
  position:relative;
  /* animation: projects-appear ease-in 1s;
  animation-timing-function: linear; */
}


.photo img{
  margin:0;
  width:20em;
  height:12em;
  border-radius:1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all ease .4s;
}

.photo:nth-child(2n){
  animation: projects-appear-left ease-in 1s;
  animation-timing-function: linear;
}
.photo:nth-child(2n+1){
  animation: projects-appear ease-in 1s;
  animation-timing-function: linear;
}

.photo:hover {
  cursor: pointer;
}

.photo:hover .photo-img{
  opacity: 0.1;
}

.photo:hover .photo-text{
  opacity:1;
}


.photo-text{
  opacity: 0;
  color:var(--secondary);
  font-weight: 700;
  font-size:1.8rem;
  margin:0;
  padding:0;
  position: absolute;
  top:25%;
  left:10%;
}


.photo-text a{
  display:block;
  font-size: 1rem;
  font-weight:500;
}

.photo span{
  transition: all ease .2s;
}

.photo span:hover{
  margin:auto 10px;
  border-bottom: 2px solid var(--secondary);
}




/* reset default styles */
footer{
  margin-top: 0;
  margin-bottom:2rem;
}

input{
  width:60%;
  height:2rem;
  border: solid 2px var(--tertiary);
  border-radius: 10px;
  font-size:1.3rem;
  padding:1rem;
  color:var(--primary);
  font-weight:500;
}

textarea{
  width:95%;
  border: solid 2px var(--tertiary);
  border-radius: 10px;
  height:8rem;
  padding:1rem;
  font-size:1rem;
  color:var(--primary);
}

label{
  display:block
}
li{
  margin:0;
  padding:0;
  list-style-type: none;
}

a{
  text-decoration: none;
  color:inherit;
}

/* media queries */
@media screen and (max-width: 800px) {
  .nav-tabs{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
  }
  nav{
    margin-right: 0;
    transform: translate(0, -50%);
  }
}